body {
    font-family: "Poppins", sans-serif;
    background-color: #ffcece;
}

.logo-menor {
    width: 100px;
    height: auto;
}


.navbar {
    background-color: #520101;
}

h3 {
    color: white;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #f60403;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

#fale-conosco label {
    color: #656261;
}

.navbar-toggler {
    background-color: #fff;
}

#sobre-o-restaurante,
#informacoes {
    background-color: #efefef;
}

#sobre-o-restaurante li a {
    color: #f60403;
}

.text-colored {
    color: #f60403;
}

.text-colored-gray {
    color: #656261;
}

.text-colored-black {
    color: black;
}
.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #f60403;
    color: #fff;
}

#informacoes .col-md-4 img {
    height: 350px;
    object-fit: cover; 
    width: 100%; 
}


.nav-cardapio .nav-link:hover {
    color: #f60403;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

#fale-conosco textarea {
    resize: none;
}

#cardapio .col-md-6 img {
    height: 230px; 
    object-fit: cover; 
    width: 100%; 
}

#cardapio .col-md-4 img {
    height: 230px; 
    object-fit: cover; 
    width: 100%; 
}

.carousel-item img {
    width: 100%;
    height: 450px; 
    object-fit: cover; 
}

footer {
    color: white;
    background-color: #520101;
    padding: 10px;
    text-align: center;
}

@media (max-width:767px) {
    .carousel-item img {
        height: 280px;
    }
}